# 🔐 Секрети та ключі
.env
*.env
*.session
*.session-journal

# 🧠 Python кеш
__pycache__/
*.pyc
*.pyo

# 💻 Віртуальне середовище
venv/
.venv/
env/

# 🗂️ IDE та системні файли
.vscode/
.idea/
.DS_Store

# 🧰 Логи та тимчасові файли
*.log
*.tmp

# історія діалогів LLM
data/dialogs/

#Тимчасові файли аудіо
data/audio_tmp/

# Google STT credentials
credentials/speech_to_text_credential.json